<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KD7KMX4');
    </script>
    <!-- End Google Tag Manager -->
    <script async src="../static/js/app.min.js"></script>

</head>
<body class="win">
<!--[if lt IE 8]>
<p class="browserupgrade">Ysou are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container header-block">
    <nav class="navbar navbar-toggleable-md navbar-light">
        <a class="navbar-brand" href="/">
            <img src="../static/img/logo-header.png" width="120" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto" id="navbarNav">
            <nav class="nav nav-masthead mx-auto flex-column flex-sm-row">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/">Головна <span class="sr-only">(current)</span></a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center active" href="/rules">Правила</a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/registration">Реєстрація</a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/win">Переможці</a>
                </li>
            </nav>
            <!--<nav class="nav lang">
                <li class="breadcrumb-item active">УКР</li>
                <li class="breadcrumb-item"><a href="#">РУС</a></li>
                <li class="breadcrumb-item"><a href="">ENG</a></li>
            </nav>-->
        </div>
    </nav>
</div>

<div class="container-full">
    <!-- Example row of columns -->
    <div class="col-lg-9 col-lg-offset-3" style="margin: 0px auto;">
        <div class="row justify-content-md-center" style="padding: 40px 10px;">
            <h2 class="h-rules" style="text-align: center;">Правила проведення акції «Лактонія».<br>Наповни життя здоров`ям</h2>
            <span class="rules">
                <h5>1. Загальні положення.</h5>
1.1. Акція «Лактонія. Наповни життя здоров’ям» проводиться ДП «Лакталіс – Україна» (код ЄДРПОУ 25593656), адреса: 03062, м. Київ, вул. Естонська, 120 (далі – «Організатор»).
1.2. Виконавцем Акції «Лактонія. Наповни життя здоров’ям» є ТОВ «АА8» (код ЄДРПОУ 40830318), адреса: 04053, м. Київ, вул. Січових Стрільців, 10 (далі – "Виконавець"). 
                <br><h5>2. Умови проведення Акції «Лактонія. Наповни життя здоров’ям».</h5>
2.1. Акція «Лактонія. Наповни життя здоров’ям» (далі – «Акція») проводиться Організатором на всій території України за винятком території Автономної Республіки Крим, м. Севастополя, а також території проведення антитерористичної операції (далі – «Територія проведення Акції»).
2.2. Акція проводиться у період з 18 вересня 2017 року по 29 жовтня 2017 року включно (далі – «Строк проведення Акції»).
2.3. Акція проводиться з метою популяризації продукції під торгівельною маркою «Лактонія», яка випускається та реалізується  Організатором.
2.4. У Акції приймає участь продукція Лактонія Кефірна 300г., 900г. зі спеціальним маркуванням та повідомленням «Акція» (далі – «Продукція»).
 2.5. Купуючи Продукцію учасник Акції не вносить ніякої додаткової плати, пов’язаної з участю у Акції окрім безпосередньої ціни Продукції. Фонд подарунків Акції (далі – «Подарунки Акції») не формується з внесків учасників Акції.
                 <h5>3. Вимоги до Учасників Акції.</h5>
3.1. До участі в Акції запрошуються повнолітні дієздатні громадяни України, які проживають на Території проведення Акції, є споживачами Продукції та користувачами мережі Інтернет.
3.2. Учасником Акції вважається особа, яка відповідає вимогами п. 3 даних Правил та належним чином виконала усі вимоги цих Правил.
3.3. Учасниками Акції не визнаються та не можуть бути наступні особи, не залежно від виконання ними умов цих Правил:
3.3.1. Працівники Організатора/Виконавця Акції і будь-яких інших осіб, які беруть участь у підготовці та проведенні Акції;
3.3.2. Неповнолітні, обмежено дієздатні та недієздатні особи.
3.4. Учасники Акції під час участі у Акції зобов’язуються:
3.4.1. Дотримуватися вимог цих Правил та норм чинного законодавства України.
3.4.2. Дотримуватися правил користування сайтом www.promo-lactonia.com.ua  (далі – "Сайт"), які розміщені на Сайті.
3.4.3. Вказувати повні, коректні та достовірні відомості, що вимагаються згідно з цими Правилами.
3.4.4. Свідомо не завдавати незручностей та не чинити перешкод іншим учасникам Акції.
3.4.5. Не чинити дій, що ставлять під сумнів правомірність участі такого учасника в Акції.
3.4.6. Зберігати оригінали упаковки Акційної Продукції,  що містять зображення Кодів до моменту отримання Подарунків Акції.
3.5. Приймаючи участь у Акції учасник Акції погоджується та підтверджує факт ознайомлення та повної згоди з цими Правилами.
3.6. Надання учасником Акції недостовірних/некоректних даних, наданих для участі в Акції, в тому числі щодо засобів зв’язку з таким учасником Акції, звільняє Організатора та Виконавця від обов’язку вручити Подарунок Акції і такий учасник Акції втрачає право на отримання Подарунку Акції.
3.7. У випадку порушення учасником Акції обов’язків, передбачених цими Правилами, що спричинило виникнення у Організатора та/або Виконавця збитків, учасник Акції зобов’язаний відшкодувати такі, документально підтверджені, збитки у повному обсязі.
3.8. Організатор залишає за собою право відсторонити від участі в Акції учасників Акції, які порушили обов’язки, передбачені цим  Правилами.
3.9. Учасник Акції, що не виконує/неналежно виконує умови цих Правил, втрачає право на подальшу участь у Акції.
                <br><h5>4. Умови участі в Акції.</h5>
4.1. Для участі у Акції необхідно:
4.1.1. Продовж Строку проведення Акції придбати Акційну Продукцію та знайти спеціальний код, що нанесений на зворотній стороні упаковки (далі – "Код"). Код складається з 9 символів, в тому числі з латинських літер верхнього та нижнього регістрів та цифр.
4.1.2. Зареєструвати принаймні один Код протягом Строку проведення Акції шляхом реєстрації Коду у відповідному полі Сайту www.promo-lactonia.com.ua . Реєстрація на Сайті здійснюється шляхом заповнення всіх обов’язкових полів реєстраційної анкети.
4.1.3. Зберігати оригінали Акційної упаковки Продукції, що містять зареєстрований Код до моменту вручення Подарунків Акції.
4.2. Код вважається прийнятим, якщо він надійшов Організатору/Виконавцю Акції протягом Строку проведення Акції, як це зазначено у пп. 4.1.2 цих Правил. Організатор/Виконавець Акції не несуть відповідальності за відсутності технічних можливостей/несправності мережі та інші обставини, що унеможливлюють та/або сповільнюють процес направлення Кодів у визначений строк. Кількість спроб для реєстрації Кодів – 5 (п’ять). У випадку, якщо Учасник ввів 5 (п’ять) разів невірний Код, доступ до Сайту блокується на 24 (двадцять чотири) години.
4.3. Один Код може бути зареєстровано для участі в Акції лише один раз. Повторна реєстрація одного і того ж самого Коду забороняється. Всі зареєстровані Коди мають бути підтверджені наявними оригіналами упаковок Акційної  Продукції з Кодами.
4.4. У разі неможливості предявити та/або не відповідності оригіналу упаковки з виграшним Кодом, даним зареєстрованого виграшного Коду, відповідний Переможець Акції позбавляється права на належний йому Подарунок Акції. При цьому не братиметься до уваги кількість помилок (одна цифра, одна літера або усі) та будь-які їх причини (нечіткість Коду, проблеми набору, розлади уваги тощо).
4.5. Кожен Код може бути зареєстрований лише на Сайті www.promo-lactonia.com.ua
4.6. Впродовж Строку проведення Акції учасник Акції має право зареєструвати будь-яку кількість Кодів з урахуванням умов п.4.2. цих Правил.
4.6.1. У випадку виявлення Організатором/Виконавцем Акції протиправних дій з боку будь-якого учасника Акції, в тому числі пов’язаних з масовою реєстрацією Кодів, та/або систематичною реєстрацією некоректних Кодів тощо, Організатор/Виконавець Акції має право прийняти рішення щодо автоматичного блокування можливості реєстрації Кодів таким учасником Акції для подальшої участі в Акції.
4.7. Учасник Акції, що вчинив дії вказані у 4.6.1. даних Правил, визнається порушником та позбавляється права подальшої участі в Акції.
                <br><h5>5. Подарунки Акції.</h5>
5.1. Фонд Подарунків Акції складають:
5.1.1. Щоденний Подарунок Акції – «50 гривень на рахунок мобільного телефону» (далі – "Щоденний Подарунок Акції") у кількості 130 (сто тридцять) шт. на день. Загальна кількість «Щоденних подарунків Акції» - 5460 шт.
5.1.2. Щотижневий Подарунок Акції – «Велосипед» у кількості 1 (одна) шт. на тиждень. Загальна кількість  «Щотижневих подарунків» -  6 шт.
5.2. Під Щоденним Подарунком Акції мається на увазі поповнення рахунку мобільного телефону будь-якого GSM оператора в Україні на 50,00 гривень.
5.3. Під Щотижневим Подарунком Акції мається на увазі велосипед на вибір з переліку, обраного Організатором/ Виконавцем,  номінальною вартістю до 20 000,00 (двадцяти тисяч) гривень, у тому числі ПДВ. Зовнішній вигляд Подарунків може відрізнятися від зображень на рекламно-інформаційних матеріалах.
5.4. Кількість Подарунків Акції обмежена і складає зазначену вище кількість.
5.5. Фонд Подарунків Акції складається за рахунок власних засобів Організатора Акції і використовується виключно для надання Подарунків Акції переможцям Акції.
                <br><h5>6. Визначення Переможців Акції.</h5>
6.1. Визначення переможців Акції (далі разом – "Переможці Акції") проводиться шляхом електронної (комп’ютерної) вибірки випадковим способом.
6.2. Учасники, що отримують Щоденні Подарунки Акції, визначаються о 12.00 наступного дня за днем реєстрації Кодів, протягом Строку проведення Акції.
6.3. Учасник, що отримує Щотижневий Подарунок Акції, визначається о 12.00 наступного дня по завершенню відповідного тижня реєстрації Кодів, протягом Строку проведення Акції.
6.4. Один і той самий учасник Акції може отримати необмежену кількість Щоденних Подарунків Акції, у разі належного виконання ним цих Правил Акції, але не більше одного Подарунку Акції протягом однієї доби. Один і той самий учасник Акції, у разі належного виконання ним цих Правил Акції, може отримати не більше одного Щотижневого Подарунку Акції протягом усього Строку проведення Акції.
6.5. Остаточні результати визначення Переможців Акції фіксуються Організатором та відображаються у Протоколах. Результати відбору, зафіксовані Організатором у Протоколах, є остаточними, та такими, що не підлягають оскарженню.
                <br><h5>7. Порядок, умови і терміни отримання Подарунків Акції.</h5>
7.1. Порядок, умови і терміни отримання Щоденних Подарунків Акції:
7.1.1. Щоденних Переможців Акції буде повідомлено про факт їх перемоги шляхом розміщення відповідного інформаційного повідомлення на Сайті та протягом 5 (п’яти) робочих днів після визначення Переможця Акції та шляхом відправки відповідного sms повідомлення. Моментом отримання повідомлення вважається момент відправлення повідомлення на номер мобільного телефону Переможця Акції. Щоденні Подарунки Акції вручаються шляхом прямого поповнення рахунку номеру мобільного телефону Переможців Акції, що вказаний переможцем Акції при реєстрації на Сайті, в порядку та згідно з правилами, встановлених операторами мобільного зв’язку для відповідної мережі. Щоденні Подарунки Акції вважаються врученими з моменту поповнення рахунку номеру мобільного телефону Переможців Акції.
7.2. Порядок, умови і терміни отримання Щотижневих Подарунків Акції:
7.2.1. Щотижневих Переможців Акції буде повідомлено про факт їх перемоги шляхом розміщення відповідного інформаційного повідомлення на Сайті та протягом 5 (п’яти) робочих днів після визначення Переможця Акції та відправки відповідного sms повідомлення. Моментом отримання повідомлення вважається момент відправлення повідомлення на номер мобільного телефону Переможця Акції.
7.2.2. Для отримання Щотижневого Подарунку Акції, Переможці Акції протягом 5 (п’яти) робочих днів від дати отримання повідомлення, як це передбачено у пп.7.2.1 цих Правил, зобовязані надіслати на електронну адресу aa@a-avenue.com.ua Виконавцю скан-копії наступних документів:
● копію паспорта громадянина України;
● копію реєстраційного номера облікової картки платника податків;
● фотографію Продукції з переможним Кодом.
Організатор/Виконавець мають право вимагати надання й інших документів, які підтверджують належне виконання учасниками Акції цих Правил.
7.2.3. Щотижневий Переможець Акції має право заявити про свою відмову від отримання належного йому Подарунку Акції. Така відмова має бути направлена за адресою Організатора у письмовій формі.
7.2.4. Щотижневі Подарунки Акції вручаються Переможцям Акції шляхом відправлення поштовим зв’язком «Новою поштою» на номер та адресу відділення, зазначену Переможцем, якщо інше не погоджено за взаємною згодою Виконавцем/Організатором та Переможцем Акції.
7.2.5. Щотижневі Подарунки Акції вважаються врученими з моменту отримання їх у відповідному відділенні «Нової пошти» та підписання Переможцем Акції відповідного акту про приймання - передачу Подарунку.
7.2.6. Всі витрати, пов’язані з отриманням Щотижневого Подарунку Акції (проїзд, проживання) такий Переможець Акції несе самостійно. Організатор та Виконавець не несуть будь-яких обов'язків та відповідальності і не здійснюють компенсацій у зв'язку з оформленням відсутності щоденного Переможця Акції за його місцем роботи, придбанням квитків на будь-який вид транспорту та будь-якими іншими питаннями прибуття Переможця Акції для вручення Щотижневого Подарунку Акції.
7.2.7 Вручення Подарунку Акції допускається лише особі, яка отримала на нього право згідно з умовами цих Правил, і виключно в порядку, встановленому цими Правилами. У випадку, якщо Переможець Акції з яких-небудь причин не може отримати Подарунок Акції особисто, такий Переможець Акції не має права передати/поступитися своїм правом будь-якій третій особі.
7.3. З моменту вручення Подарунку Акції, Переможець Акції самостійно вживає усіх заходів для використання належного йому Подарунку Акції.
7.4. Організатор/Виконавець Акції і пов’язані з Акцією особи не несуть відповідальності за подальше використання Переможцями Акції Подарунків Акції після їх вручення та/або за неможливість відповідним Переможцем Акції скористатись наданим Подарунком Акції з будь-яких причин. З моменту вручення Подарунку Акції Переможцям Акції Організатор/Виконавець й пов’язані з Акцією особи не відповідають за життя, здоров’я та безпеку Переможців Акції під час реалізації Подарунків Акції, тощо та не приймають участі у вирішенні суперечок з цього приводу.
7.5. Неухильне дотримання всіх умов цих Правил та надання всіх передбачених документів є необхідною умовою отримання Подарунків Акції. Невиконання будь-яких умов, передбачених цими Правилами, позбавляє відповідного Переможця Акції права на одержання належного йому Подарунку Акції. При цьому, Переможець Акції вважається таким, що відмовився від отримання відповідного Подарунку Акції та не має права на одержання від Організатора/Виконавця Акції будь-якої компенсації.
7.6. Переможець Акції автоматично втрачає набуте ним право на отримання Подарунку Акції без будь-яких компенсацій та/або можливості заміни на інший Подарунок Акції у таких випадках, не залежно від того у який час стали відомими вказані обставини:
7.6.1. Якщо представники Організатора/Виконавця Акції не зможуть зв’язатися з Переможцем Акції для повідомлення про визнання учасника Акції Переможцем Акції та/або підтвердження можливості отримання належного йому Подарунку Акції, визначення часу та місця вручення Подарунку Акції, з не залежних від Організатора/Виконавця Акції.
7.6.2. Якщо відповідний Переможець Акції не вчинить дій, передбачених у пп.7.2.2. цих Правил та/або інших зобовязань, передбачених цими Правилами.
7.6.3. Якщо Переможець Акції належить до категорії осіб, вказаних в п.3.3 цих Правил.
7.6.4. У разі виявлення фактів, вказаних у п.8.5 цих Правил, не залежно від моменту їх виявлення.
7.6.5. У разі пред’явлення щоденним Переможцем Акції оригіналів чужих паспорта громадянина України та/або картки фізичної особи – платника податків та/або пред’явлення упаковки, що не місить виграшного Коду, містить Код, що не є виграшним та/або містить не Код.
7.6.6. У разі не можливості ідентифікувати Переможця Акції та/або пакування Продукції з виграшним Кодом.
7.6.7. Якщо Переможець Акції заявив про свою відмову від отримання належного йому Подарунку Акції будь -яким зручним способом, як це зазначено у пп.7.2.3 цих Правил;
7.6.8. Якщо Переможець Акції до отримання Щоденного Подарунку Акції перестає використовувати номер мобільного телефону, зазначений ним при реєстрації на Сайті.
7.6.9. У разі не належного виконання умов цих Правил.
7.7. У разі неможливості вручення Подарунків Акції, вони визнаються незатребуваними. При цьому відповідні Подарунки Акції не можуть бути затребуваним Переможцями Акції повторно. Грошова та/або будь-яка інша компенсація Подарунків Акції не здійснюється.
7.8. У разі виявлення неможливості вручення Подарунків Акції, Організатор або Виконавець мають право розпорядитися незатребуваними Подарунками Акції на свій розсуд.
 
                <br><h5>8. Технічні умови.</h5>
8.1. Організатор/Виконавець Акції здійснюють ідентифікацію та/або інформування учасників Акції за допомогою номеру мобільного телефону, що був введений учасником Акції під час реєстрації на Сайті.
8.2. Технічна підтримка Акції здійснюється за телефоном: 0-800-210-720   в робочі дні, з 09:00 години до 18:00 години протягом Строку проведення Акції. Дзвінки безкоштовні з усіх номерів фіксованих та мобільних мереж операторів зв’язку України.
8.3. Вартість користування мережею Інтернет, що здійснюється учасником Акції, оплачується ним самостійно за власний рахунок.
8.4. Всі учасники Акції самостійно сплачують всі будь-які витрати, понесені ними у зв'язку з участю в Акції (у тому числі, без обмежень витрати, пов'язані з користуванням мережею Інтернет як для реєстрації Кодів, так і для отримання будь-якої інформації про Акцію).
8.5. Реєстрація Коду не дає особі права вважатися учасником Акції в наступних випадках і не дає права на участь в визначенні Переможців Акції, якщо вона здійснена з порушенням умов цих Правил, зокрема:
8.5.1. Якщо дані при реєстрації Коду не містить Коду.
8.5.2. Якщо дані при реєстрації Коду не можуть бути ідентифіковані; не містять всі елементи Коду або містить їх в невірному форматі; містить окрім Коду зайві пропуски/пробіли, символи).
 8.5.3. Якщо реєстрація Коду здійснена учасником Акції з порушенням строків та/або часових обмежень реєстрації, що встановлені цими Правилами.
8.5.4. Якщо реєстрація Коду здійснюється учасником Акції масово та/або з використанням комп’ютерних програм.
8.5.5. Якщо учасником Акції вже було зареєстровано такий Код.
8.6. Організатор/Виконавець не несуть відповідальності за будь-які технічні збої, що мають відношення до реєстрації учасників Акції, а також інші обставини, не залежні від їх волі, зокрема (але не виключно):
8.6.1. За недоставку повідомлення про визнання учасника Акції Переможцем Акції.
8.6.2. За будь-які збої в роботі мережі Інтернет.
8.6.3. За будь-які збої в роботі приладів, використовуваних учасниками Акції для реєстрації Кодів.
8.7. Організатор/Виконавець Акції не бере участі у вирішенні суперечок щодо можливостей участі у Акції будь-кого з учасників Акції.
                <br><h5>9. Загальні умови Акції.</h5>
9.1. Інформування щодо цих Правил та умов Акції здійснюється на сайті www.promo-lactonia.com.ua, а також за телефоном 0-800-210-720   (Дзвінки безкоштовні з усіх номерів фіксованих та мобільних мереж операторів зв’язку України).
9.2. Оподаткування вартості фонду Подарунків Акції, який вказаний у пункті 5.1 цих Правил, забезпечує Виконавець (або інша залучена ним особа) відповідно до чинного законодавства України за встановленою для такого виду доходу ставкою.
9.3. Організатор/Виконавець не несуть відповідальності за:
9.3.1. Не ознайомлення Учасників з даними Правилами Акції.
9.3.2. Не ознайомлення Учасників з фондом Подарунків Акції і умовами їх отримання.
9.3.3. Не отримання/несвоєчасне отримання Організатором/Виконавцем Акції відомостей/документів, необхідних для отримання Подарунків Акції у строки, встановлені для їх надання з вини організацій зв'язку, або з інших, не залежних від Організатора/Виконавця Акції причин.
9.3.4. Невиконання, не належне виконання, несвоєчасне виконання учасниками/Переможцями Акції обов'язків, передбачених у цих Правилах.
9.3.5. Не можливість отримання Подарунків Акції відповідними Переможцями Акції у зв’язку з відсутністю упаковки з виграшним Кодом та необхідних документів або його відмови у наданні вказаних документів.
9.3.6. Несвоєчасне подання, втрату чи пошкодження Переможцями Акції упаковки з виграшним Кодом. Пошкоджені та/або фальсифіковані матеріали не беруть участі в Акції;
9.3.7. Усі матеріали (пакування), що є пошкодженими чи на яких є ознаки будь-якого втручання, або ті, що будуть викликати у Організатора сумніви щодо їх справжності, вважатимуться недійсними. Організатор залишає за собою право провести експертизу пред’явлених матеріалів для визначення їх достовірності. Рішення Організатора стосовно достовірності пред’явлених матеріалів буде остаточним;
9.3.8. Неотримання Подарунків Акції Переможцем Акції, що сталося не з вини Організатора/Виконавця.
9.3.9. Неможливість скористатися правом на отримання Подарунків Акції.
9.3.10. Неможливість використати Подарунки Акції.
9.3.11. За наслідки реалізації Подарунків Акції.
9.4. Беручи участь в Акції, учасник Акції, зокрема, підтверджують свою згоду з наступним:
9.4.1. Організатор та Виконавець мають право змінити Правила Акції та/або призупинити/припинити Акцію.
9.4.2. Інформація про факт перемоги, а також Прізвище, Ім'я, По-батькові Переможця Акції можуть бути опубліковані на Сайті без сплати будь-якої винагороди.
9.4.3. Учасник/Переможець Акції можуть отримувати повідомлення пов’язані з Акцією, в тому числі щодо результатів визначення Переможців Акції на мобільний телефон, що вказаний учасником Акції при реєстрації на Сайті, в тому числі у проміжок часу з 21.00 до 09.00 години.
9.5. Приймаючи участь у Акції учасник Акції також підтверджує свою повну та безумовну згоду на здійснення Організатором, Виконавцем або уповноваженими ними особами збору, обробки, зберігання, використання, розповсюдження, трансграничну передачу в цілях проведення Акції отриманих від учасника Акції персональних даних. Персональні дані учасників Акції будуть використовуватися виключно Організатором, Виконавцем або уповноваженими ними особами з дотриманням необхідних заходів конфіденційності та виключно у зв’язку з проведенням Акції та вручення Подарунків Акції, і не будуть надаватись жодним третім особам для цілей, не пов’язаних Акцією. Відносно всіх персональних даних, наданих учасниками Акції, Організатором, Виконавцем або уповноваженими ними особами будуть вживатись заходи щодо забезпечення безпеки персональних даних у відповідності до Закону України "Про захист персональних даних".
9.6. Організатор/Виконавець Акції залишають за собою право не вступати в письмові переговори або інші контакти з Учасниками/Переможцями Акції, окрім випадків, передбачених цими Правилами.
9.7. Організатор/Виконавець Акції не беруть участі у вирішенні суперечок щодо визначення Переможців Акції та/або розподілу Подарунків Акції між Переможцями Акції.
9.8. Організатор/Виконавець на свій власний розсуд можуть визнати недійсними всі заявки на участь (реєстрацію), а також заборонити подальшу участь в цій Акції будь-якій особі, яка підроблює або отримує вигоду з підробки процесу реєстрації або інших етапів Акції, або ж діє, порушуючи ці Правила Акції, діє деструктивним чином або здійснює дії з наміром докучати, ображати, загрожувати або заподіювати шкоду будь-якій іншій особі, яка може бути пов'язана із цією Акцією.
9.9. Якщо з будь-якої причини будь-який аспект цієї Акції не може проводитися так, як це заплановано, включаючи причини, викликані зараженням комп'ютерними вірусами, несправностями  в мережі Інтернет, дефектами, маніпуляціями, несанкціонованим втручанням, фальсифікацією, технічними несправностями або будь-якою іншою причиною, неконтрольованою Організатором/Виконавцем, яка спотворює або втручається у виконання, безпеку, чесність, цілісність або належне проведення Акції, Організатор/Виконавець може на свій власний розсуд анулювати, припинити, змінити або тимчасово припинити проведення Акції, або ж визнати недійсними будь-які реєстрації.
9.10. Терміни, що використовуються в цих Правилах, відносяться виключно до даної Акції.
9.11. Всі відносини, що стосуються проведення даної Акції, регулюються на основі чинного законодавства України. При цьому в ситуації, що допускає неоднозначне тлумачення цих правил, і при не врегульованих правилами спірних питаннях остаточне рішення приймається Організатором. Рішення Організатора з усіх питань, пов'язаним з проведенням Акції, є остаточними і не підлягають перегляду. Результати Акції не підлягають перегляду.
9.12. Організатор/Виконавець мають право залучати третіх осіб для повного або часткового виконання даних Правил.
9.13. Дана Акція не є лотереєю або послугою у сфері грального бізнесу.
            </span>
        </div>
    </div>

    <footer>
        <div class="foo-text">
            Акція проводиться з 18 вересня по 29 жовтня 2017 року на території України, окрім тимчасово окупованої АРК та зони проведення АТО. Щоб стати учасником акції, у період її проведення треба придбати продукцію "Лактонія кефірна" вагою 900 г або 300 г, знайти під захисним покриттям на її етикетці акційний код і зареєструвати його на сайті www.promo-lactonia.com.ua. Учасники акції мають можливість отримати подарунки за результатами розіграшу їх серед усіх учасників: щодня — поповнення рахунку мобільного телефону, щотижня — велосипед. Про результати чергового розіграшу учасникам буде повідомлятися через SMS. Детальні умови на www.promo-lactonia.com.ua або за телефоном гарячої лінії 0-800-210-720 (у будні з 09:00 до 18:00). Дзвінки безкоштовні з усіх номерів фіксованих та мобільних мереж операторів зв’язку України.
        </div>
    </footer>
</div>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106638262-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106638262-1');
</script>
<!--End-->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD7KMX4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>