<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <noscript>
        <style>
            [data-simplebar] {
                overflow: auto;
            }
        </style>
    </noscript>

    <script async src="../static/js/app.min.js"></script>

</head>
<body class="win">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container header-block">
    <nav class="navbar navbar-toggleable-md navbar-light">
        <a class="navbar-brand" href="/">
            <img src="../static/img/logo-header.png" width="120" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto" id="navbarNav">
            <nav class="nav nav-masthead mx-auto flex-column flex-sm-row">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/">Головна <span class="sr-only">(current)</span></a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/rules">Правила</a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/registration">Реєстрація</a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center active" href="/win">Переможці</a>
                </li>
            </nav>
            <!--<nav class="nav lang">
                <li class="breadcrumb-item active">УКР</li>
                <li class="breadcrumb-item"><a href="#">РУС</a></li>
                <li class="breadcrumb-item"><a href="">ENG</a></li>
            </nav>-->
        </div>
    </nav>
</div>

<div class="container-full">
    <!-- Example row of columns -->
    <div data-simplebar class="jumbotron winners" style="height: 400px;">
        <div class="container">
            <h4 class="text-uppercase text-center text-success">Виграли поповнення мобільного телефону на 50 грн. Успіхів!</h4>
            <div class="row" style="padding-top: 10px;">
                <div class="col-lg-6">
                    <div class="bs-vertical-wizard">
                        <ul>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-20</div>
                                <div>380636994312</div>
                                <div>Tyson Owen</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-21</div>
                                <div>380636994398</div>
                                <div>Jada Avila</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-22</div>
                                <div>380636994341</div>
                                <div>Kali Yang</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-22</div>
                                <div>380636994346</div>
                                <div>Linda Soto</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-23</div>
                                <div>380633255544</div>
                                <div>Emilio Green</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-23</div>
                                <div>380633255544</div>
                                <div>Felix Ryan</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-23</div>
                                <div>380633255544</div>
                                <div>Tyler Farmer</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-23</div>
                                <div>380633255544</div>
                                <div>Gage Lang</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-23</div>
                                <div>380633255544</div>
                                <div>Mallory Reynolds</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-23</div>
                                <div>380633255111</div>
                                <div>Rodolfo Morris</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bs-vertical-wizard">
                        <ul>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-20</div>
                                <div>380636994312</div>
                                <div>Colton Hudson</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-21</div>
                                <div>380636994398</div>
                                <div>Brody Holland</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-22</div>
                                <div>380636994341</div>
                                <div>Carrie George</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-22</div>
                                <div>380636994346</div>
                                <div>Andrew Peters</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-22</div>
                                <div>380636994321</div>
                                <div>Kathleen Griffith</div>
                            </li>
                            <li class="complete d-flex align-content-center">
                                <div><i class="ico fa fa-circle ico-green"></i>2017-03-22</div>
                                <div>380636884321</div>
                                <div>Cole Stephens</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row video-block d-flex justify-content-between">
        <iframe class="p-2" width="420" height="315" frameborder="0"
                src="https://www.youtube.com/embed/qEoxu0_8uZU">
        </iframe>
        <iframe class="p-2" width="420" height="315" frameborder="0"
                src="https://www.youtube.com/embed/qApOLaLYZb0">
        </iframe>
    </div>

    <div class="jumbotron winners2" style="background-image:url('../static/img/velosiped.png');">
        <div class="container">
            <h2 class="text-uppercase text-center text-success">Велосипед виграли:</h2>
            <div class="row d-flex align-items-center" style="padding-top: 10px;">
                <div class="col-md-6">
                    <div class="bs-vertical-wizard velosiped">
                        <ul>
                            <li class="complete active">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">1</strong>
                                </span>
                                <div class="win-text-1">2017-03-22</div>
                                <div class="win-text-2">Альона м.Киев</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">2</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">25.09.17</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">3</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">25.09.17</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bs-vertical-wizard velosiped">
                        <ul>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">4</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">25.09.17</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">5</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">25.09.17</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">6</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">25.09.17</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<hr>-->

    <footer>
        <div class="foo-text">
            Акція проводиться з 18 вересня по 29 жовтня 2017 року на території України, окрім тимчасово окупованої АРК та зони проведення АТО. Щоб стати учасником акції, у період її проведення треба придбати продукцію "Лактонія кефірна" вагою 900 г або 300 г, знайти під захисним покриттям на її етикетці акційний код і зареєструвати його на сайті www.promo-lactonia.com.ua. Учасники акції мають можливість отримати подарунки за результатами розіграшу їх серед усіх учасників: щодня — поповнення рахунку мобільного телефону, щотижня — велосипед. Про результати чергового розіграшу учасникам буде повідомлятися через SMS. Детальні умови на www.promo-lactonia.com.ua або за телефоном гарячої лінії 0-800-210-720 (у будні з 09:00 до 18:00). Дзвінки безкоштовні з усіх номерів фіксованих та мобільних мереж операторів зв’язку України.
        </div>
    </footer>
</div>
</body>
</html>