<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <noscript>
        <style>
            [data-simplebar] {
                overflow: auto;
            }
        </style>
    </noscript>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KD7KMX4');
    </script>
    <!-- End Google Tag Manager -->
    <script async src="../static/js/app.min.js"></script>

</head>
<body class="win">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container header-block">
    <nav class="navbar navbar-toggleable-md navbar-light">
        <a class="navbar-brand" href="/">
            <img src="../static/img/logo-header.png" width="120" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto" id="navbarNav">
            <nav class="nav nav-masthead mx-auto flex-column flex-sm-row">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/">Головна <span class="sr-only">(current)</span></a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/rules">Правила</a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center" href="/registration">Реєстрація</a>
                </li>
                <img class="line-break" src="../static/img/line.png" height="47">
                <li class="nav-item px-2">
                    <a class="nav-link flex-sm-fill text-sm-center active" href="/win">Переможці</a>
                </li>
            </nav>
            <!--<nav class="nav lang">
                <li class="breadcrumb-item active">УКР</li>
                <li class="breadcrumb-item"><a href="#">РУС</a></li>
                <li class="breadcrumb-item"><a href="">ENG</a></li>
            </nav>-->
        </div>
    </nav>
</div>

<div class="container-full">
    <!-- Example row of columns -->
    <div data-simplebar class="jumbotron winners" style="height: 400px;">
        <div class="container">
            <h4 class="text-uppercase text-center text-success">Виграли поповнення мобільного телефону на 50 грн. Успіхів!</h4>
            <div class="row" style="padding-top: 10px;">
                <div class="col-lg-6">
                    <div class="bs-vertical-wizard">
                        <h5 class="text-center text-success">19-09-2017</h5>
                        <ul>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>﻿Іван</div><div>3809929458**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анатолий</div><div>3809829156**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Галина</div><div>3809709828**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Аліна</div><div>3809342008**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Інна</div><div>3809313761**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Світлана</div><div>3809367739**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ирина</div><div>3809897607**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Александр</div><div>3809715868**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Александр</div><div>3806667865**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Світлана </div><div>3806807912**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Михаил</div><div>3809719893**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дмитро</div><div>3809515897**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Катерина</div><div>3809539920**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Руслан</div><div>3809947994**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Денис</div><div>3806662543**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юдакова</div><div>3805072024**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юля</div><div>3806607269**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ігор</div><div>3809615985**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна </div><div>3806775789**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Микита</div><div>3809514107**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олег</div><div>3806728448**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Леся</div><div>3809797929**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Родион</div><div>3806649765**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дмитрий </div><div>3806345819**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Маргарита</div><div>3809330841**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Denis</div><div>3805063500**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ruslan</div><div>3809310473**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Віталій</div><div>3805066040**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Роман</div><div>3809970050**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Руслан</div><div>3809947094**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Роман</div><div>3806345330**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна</div><div>3806671656**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>ирина</div><div>3809904262**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сапа Євгенiя</div><div>3806806895**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дарья </div><div>3809378646**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Елена</div><div>3806756503**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Надія</div><div>3806678708**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Алла</div><div>3809721639**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олег Андреевич Винийчук</div><div>3806328186**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна</div><div>3809689820**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія</div><div>3806882352**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3806344645**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сергей</div><div>3805034732**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Anna</div><div>3809309529**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>юлія</div><div>3809668968**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ганна</div><div>3809628420**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3806323191**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Марина</div><div>3809841497**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Світлана</div><div>3806756937**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ростислав</div><div>3809739179**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталія</div><div>3806618142**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Поліна</div><div>3806310818**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Галина</div><div>3809900440**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ксения</div><div>3805034742**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>володимир</div><div>3806888225**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олена</div><div>3805080250**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Даша</div><div>3806655882**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ірина</div><div>3805094995**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Катерина</div><div>3805020327**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Катерина</div><div>3809351236**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна</div><div>3809684682**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Валерія</div><div>3809699469**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3809351465**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Андрій</div><div>3809794585**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Євгеній</div><div>3809332606**</div></li>
                        </ul>
                        <h5 class="text-center text-success">20-09-2017</h5>
                        <ul>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна</div><div>3809797779**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олександр</div><div>3806365531**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Елена</div><div>3806339747**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дмитро</div><div>3806886412**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Инеса</div><div>3809314030**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Влада</div><div>3806799181**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Елена</div><div>3806755726**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Елена</div><div>3809590210**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія</div><div>3806341437**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Павло</div><div>3806757647**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Елизавета</div><div>3806715288**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталія</div><div>3809369250**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олена</div><div>3809588184**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анжела</div><div>3809863883**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юлія Драч</div><div>3809557931**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олег</div><div>3805095075**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Александр Курочкин</div><div>3809369093**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія</div><div>3806807065**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Яна</div><div>3806801805**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Светлана</div><div>3806641102**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна</div><div>3805003588**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Єлизавета </div><div>3806877660**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вадим</div><div>386370693**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Надія</div><div>3806303895**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Таисия</div><div>3809854615**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Оксана </div><div>3809377303**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Світлана</div><div>3809663754**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Аня</div><div>3809918605**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Владислава</div><div>3809873671**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна</div><div>3806849941**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дмитро</div><div>3805077917**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Кристина</div><div>3806796878**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна</div><div>3809331370**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сергей</div><div>3805095259**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Андрей</div><div>3806756352**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Таня</div><div>3805028107**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна</div><div>3809946810**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Лариса</div><div>3809897396**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Массалова Виктория</div><div>3806315050**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Інна</div><div>3809797156**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталя</div><div>3806729794**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олена</div><div>3806797758**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Еміль Шірінян</div><div>3806397981**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Белла</div><div>3809646738**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Алла</div><div>3805097622**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ірина </div><div>3805034447**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Задневулиця Владислав Олександрович</div><div>3806675570**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вика</div><div>3809575160**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталі</div><div>3809398073**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юлія</div><div>3809622300**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталя</div><div>3809513319**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Татьяна</div><div>3806761414**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Віктория</div><div>3806683357**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Єлизавета</div><div>3806381387**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>евген</div><div>3805064899**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталья</div><div>3809739784**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Федор</div><div>3809933535**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Алла</div><div>3809721639**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Елена</div><div>3805078274**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна</div><div>3809785093**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Александр</div><div>3809355094**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дар'я</div><div>3805023400**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>олег</div><div>3806860526**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Александра</div><div>3809743402**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3806383360**</div></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bs-vertical-wizard">
                        <h5 class="text-center text-success">19-09-2017</h5>
                        <ul>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сергій</div><div>3809554549**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ірина Ющенко</div><div>3805069504**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Яна</div><div>3809689058**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Світлана</div><div>3809322809**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Максим</div><div>3806306129**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ірина</div><div>3809915550**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Александр</div><div>3809522235**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юлия</div><div>3809655134**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>яна</div><div>3809908063**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Марина</div><div>3809947241**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Алексей</div><div>3809710805**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна</div><div>3806873594**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сергій</div><div>3809535356**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олександр</div><div>3806873326**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Владислав</div><div>3806352502**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталья</div><div>3806739572**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Альбіна</div><div>3809929260**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Павел</div><div>3806726065**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Павел</div><div>3809577514**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олена</div><div>3806726947**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олександра</div><div>3809797231**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дарія</div><div>3806370681**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Борис Олена Миколаївна</div><div>3806746570**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ангеліна</div><div>3809746537**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія</div><div>3809384109**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна</div><div>3806795249**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юлія</div><div>3806351699**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>филипп</div><div>3809692972**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юрий</div><div>3806879219**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Алла</div><div>3809321299**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сергей</div><div>3806775212**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Товт Діана Ігорівна</div><div>3809536094**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дмитро</div><div>3806361028**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3805020539**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Cергей</div><div>3809350776**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Владимир</div><div>3807322135**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія</div><div>3809879399**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Микола</div><div>3805029498**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Лариса</div><div>3805019933**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Петро</div><div>3809300516**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Орлов Валерій</div><div>3805027253**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Євген</div><div>3809367716**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Андрій</div><div>3806738883**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Інна</div><div>3806848632**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Оксана</div><div>3806659222**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ірина</div><div>3805063561**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Тетяна </div><div>3809581488**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Яна</div><div>3809799768**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Кондратьева Оксана</div><div>3806744539**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Кондратьева Оксана</div><div>3806844539**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія</div><div>3805097026**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ірина</div><div>3809677136**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Євген</div><div>3806312512**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Костянтин</div><div>3806662538**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ірина</div><div>3805057329**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Алла</div><div>3805097622**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна</div><div>3806633316**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна</div><div>3809790234**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юлія</div><div>3806734558**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Алеся</div><div>3806307979**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Свiтлана</div><div>3806643092**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Толик</div><div>3809375832**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олександра</div><div>3809395998**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Антуан</div><div>3809356355**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анастасія</div><div>3806715659**</div></li>
                        </ul>
                        <h5 class="text-center text-success">20-09-2017</h5>
                        <ul>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ирина</div><div>3806756656**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анна</div><div>3806763803**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Альона</div><div>3806346477**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>світлана</div><div>3809647643**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталія</div><div>3806696865**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія</div><div>3809907323**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3806380197**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>людмила</div><div>3806888964**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Богдана</div><div>3809347138**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Максим</div><div>3807311598**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталія</div><div>3809779623**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>александр</div><div>3809530701**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Роман</div><div>3809520842**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ганна</div><div>3809885431**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Оксана</div><div>3809785639**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олександр</div><div>3806659545**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Катерина</div><div>3809961573**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Светлана</div><div>3807306649**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Євгеній</div><div>3806311883**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталия</div><div>3809938313**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дмитро</div><div>3806759742**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Валерія</div><div>3809942671**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Наталя</div><div>3806332375**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вікторія Бовенко6</div><div>3809631268**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Катя</div><div>3806305340**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Світлана Федчун</div><div>3805032662**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юрій</div><div>3806318680**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Петро</div><div>3809300516**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сергей</div><div>3806680326**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Євген</div><div>3806669497**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3809927031**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юлія</div><div>3806793094**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Донченко Наталья</div><div>3809626168**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Довженко Юлия</div><div>3809790834**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Антон</div><div>3809658916**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дан</div><div>3806848857**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Оксана</div><div>3809748380**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Людмила</div><div>3809714444**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олена</div><div>3809749525**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вероніка</div><div>3809898221**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Дмитрий</div><div>3806345819**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Максим</div><div>3806740870**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Элина</div><div>3809973348**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олена</div><div>3806343983**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анатолий</div><div>3806874248**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Віталік</div><div>3809761901**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Оксана</div><div>3809387838**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Сергiй</div><div>3805041532**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Анастасия</div><div>389311110**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Вячеслав</div><div>3806341366**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олександра</div><div>3809797231**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>филипп</div><div>3809692972**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Любов</div><div>3806880330**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Ольга</div><div>3809703657**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Кристина</div><div>3806387109**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юлія</div><div>3807307462**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Олександр</div><div>3805071910**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Игорь</div><div>3809826385**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>АННА</div><div>3809754596**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>світлана</div><div>3805001610**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Руслан</div><div>3805040217**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Anna</div><div>3809309529**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Андрій</div><div>3806738883**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>олександр</div><div>3806360810**</div></li>
                            <li class="complete d-flex align-content-center"><div><i class="ico fa fa-circle ico-green"></i>Юрв</div><div>3809774104**</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row video-block d-flex justify-content-between">
        <iframe class="p-2" width="420" height="315" frameborder="0"
                src="https://www.youtube.com/embed/qEoxu0_8uZU">
        </iframe>
        <iframe class="p-2" width="420" height="315" frameborder="0"
                src="https://www.youtube.com/embed/qApOLaLYZb0">
        </iframe>
    </div>-->

    <div class="jumbotron winners2" style="background-image:url('../static/img/velosiped.png');">
        <div class="container">
            <h2 class="text-uppercase text-center text-success">Велосипед виграли:</h2>
            <div class="row d-flex align-items-center" style="padding-top: 10px;">
                <div class="col-md-6">
                    <div class="bs-vertical-wizard velosiped">
                        <ul>
                            <!--<li class="complete active">-->
                                <!--<span class="fa-stack fa-lg">-->
                                  <!--<i class="fa fa-circle ico-green fa-stack-2x"></i>-->
                                  <!--<strong class="fa calendar-text fa-stack-1x fa-inverse">1</strong>-->
                                <!--</span>-->
                                <!--<div class="win-text-1">2017-09-25</div>-->
                                <!--<div class="win-text-2">Альона м.Киев</div>-->
                            <!--</li>-->
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">1</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">25.09.2017</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">2</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">02.10.2017</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">3</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">09.10.2017</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bs-vertical-wizard velosiped">
                        <ul>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">4</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">16.10.2017</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">5</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">23.10.2017</div>
                            </li>
                            <li class="complete">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle ico-green fa-stack-2x"></i>
                                  <strong class="fa calendar-text fa-stack-1x fa-inverse">6</strong>
                                </span>
                                <div class="win-text-1">Розіграш відбудеться</div>
                                <div class="win-text-2">30.10.2017</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<hr>-->

    <footer>
        <div class="foo-text">
            Акція проводиться з 18 вересня по 29 жовтня 2017 року на території України, окрім тимчасово окупованої АРК та зони проведення АТО. Щоб стати учасником акції, у період її проведення треба придбати продукцію "Лактонія кефірна" вагою 900 г або 300 г, знайти під захисним покриттям на її етикетці акційний код і зареєструвати його на сайті www.promo-lactonia.com.ua. Учасники акції мають можливість отримати подарунки за результатами розіграшу їх серед усіх учасників: щодня — поповнення рахунку мобільного телефону, щотижня — велосипед. Про результати чергового розіграшу учасникам буде повідомлятися через SMS. Детальні умови на www.promo-lactonia.com.ua або за телефоном гарячої лінії 0-800-210-720 (у будні з 09:00 до 18:00). Дзвінки безкоштовні з усіх номерів фіксованих та мобільних мереж операторів зв’язку України.
        </div>
    </footer>
</div>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106638262-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106638262-1');
</script>
<!--End-->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD7KMX4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>